@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --clash: 'Clash Display', sans-serif;
    --satoshi: 'Satoshi', sans-serif;

    --dark-purple: #22202E;

    --light-purple-1: #5B5676;
    --light-purple-2: #726E8D;

    --purple: #2A254B;

    --white: #FFFFFF;

    --light-grey: #F9F9F9;
}